<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="leftNav" class="admin-nav" role="leftNav">
    <div class="pull-left">
        <ul class="nav navbar-nav navbar-inverse collapse navbar-collapse">
            <li class="active"><a th:href="@{/wod/list}">WOD</a></li>
            <li><a th:href="@{/org/list}">Organizations</a></li>
            <li><a th:href="@{/user/list}">Users</a></li>
            <li><a th:href="@{/schedule/list}">Schedule</a></li>
            <li><a th:href="@{/blog}">Blog</a></li>
        </ul>
    </div>
</div>
</body>
</html>