<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <style type="text/css">
        #loginContainer{
            border: 1px solid #eee;
            border-radius: 15px;
            color: #666;
            font-family: arial,helvetica,sans-serif;
            margin: 100px auto;
            padding: 15px 29px 40px 72px;
            width: 400px;
        } 
        form div{
            margin-right: 50px;
            padding: 8px 0;
            text-align: left;
        }
    </style>
    <script src="webjars/jquery/2.0.3/jquery.min.js"/>
    <script>
        $(document).ready(function() {
            $("[name=username]").focus();
        });
    </script>
</head>
<body>
    <div id="loginContainer">
        <div th:if="${param.error}">
            That username and password doesn't match anything in our records. Please try again.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <h2>Sign in:</h2>
        <h4>You are entering into a secure area of this site, to continue you need to authenticate. If you
        need an username and password setup talk to your box owner.</h4>
        <form th:action="@{/login}" method="post">
            <div><label> Email <input type="text" name="username"/> </label></div>
            <div><label> Password <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>
</body>
</html>