<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/adminLayout :: adhtmlhead"></head>
<body>
<div th:replace="admin/adminLayout :: adNavbar">(adNavbar)</div>
<div class="container">
    <div class="spacer"/>
   
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Schedule</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/org/landing}">Gym</a>
                </li>
                <li class="active">Schedule</li>
            </ol>
            <div class="pull-right"><a th:href="@{/schedule/edit}" class="btn btn-primary">Create New</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>List of Schedules</h1>
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>WOD</th>
                    <th>Date</th>
                    <th>Workout</th>
                    <th>Edit</th>
                    <th></th>
                </tr>
                <tr th:each="schedule : ${currentSchedules}">
                    <td th:text="${schedule.id}"></td>
                    <td th:text="${schedule.wod.name}"></td>
                    <td th:text="${schedule.wodDate}"></td>
                    <td th:text="${schedule.workout}"></td>
                    <td><a th:href="@{/schedule/edit(id=${schedule.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/schedule/postToFB(id=${schedule.id})}" class="btn btn-primary">Post to FB</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:include="admin/adminLayout :: adFooter" id="adFooter">(adFooter)</div>
</div>
</body>
</html>