<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/adminLayout :: adhtmlhead"></head>
<body>
<div th:replace="admin/adminLayout :: adNavbar">(adNavbar)</div>
<div class="container">
    <div class="spacer"/>

    <div class="row">
        <div class="col-lg-12">

            <form id="checkout"
                  th:action="@{/payments/edit}"
                  th:object="${payment}"
                  action="#"
                  method="post">

                <!-- Errors -->
                <div th:if="${#fields.hasErrors('*')}"
                     class="alert alert-error">
                    <h3 class="text-danger"
                        th:each="error : ${#fields.errors('*')}"
                        th:text="${error}">
                        Validation error
                    </h3>
                </div>

                <!-- Page Heading/Breadcrumbs -->
                <div>
                    <h1 class="page-header">Payment Edit</h1>
                    <ol class="breadcrumb">
                        <li><a th:href="@{/payments/list}">List</a>
                        </li>
                        <li class="active">Edit</li>
                    </ol>
                    <div th:if="*{id} != null"><h3>Editing <span th:text="${payment.user.firstName}"/>!</h3></div>
                </div>

                <!-- Fields -->

                <div class="control-group form-group">
                    <div class="controls">
                        <label for="cardName">Name on Card</label>
                        <input type="text"
                               id="cardName"
                               data-braintree-name="cardholder_name"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="cardNum">Card Number</label>
                        <input type="text"
                               data-braintree-name="number"
                               id="cardNum"
                               class="form-control"
                                maxlength="16"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="cvv">cvv</label>
                        <input type="text"
                               data-braintree-name="cvv"
                               id="cvv"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="expiration_date">Expiration Date</label>
                        <input type="text"
                               data-braintree-name="expiration_date"
                               id="expiration_date"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="amount">Amount</label>
                        <input type="text"
                               th:field="*{amount}"
                               id="amount"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="user">Select User</label>
                        <select th:field="*{user}" class="form-control" id="user">
                            <option th:each="c : ${users}"
                                    th:value="${c.id}"
                                    th:text="${c.firstName}+' '+ ${c.lastName}">User
                            </option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:if="*{id} != null" th:field="*{id}" id="id"/>
                <input type="hidden" th:if="*{organization.id} != null" th:field="*{organization.id}" id="orgId"/>
                <!--<input type="hidden" th:if="*{nonce} != null" th:field="*{nonce}" id="nonce"/>-->

                <input type="submit" class="btn btn-primary" th:value="*{id} != null? 'Update' : 'Save'"/>

            </form>
        </div>
    </div>
    <div th:include="admin/adminLayout :: adFooter" id="adFooter">(adFooter)</div>
    <script src="https://js.braintreegateway.com/v2/braintree.js" type="text/javascript"></script>
    <script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(
        function btsubmit(){
            console.log("in method");
            braintree.setup(/*[[${payment_method_nonce}]]*/, "custom", {id: "checkout"});
        });
/*]]>*/
</script>
</div>
</body>
</html>