<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/adminLayout :: adhtmlhead"></head>
<body>
<div th:replace="admin/adminLayout :: adNavbar">(adNavbar)</div>
    <div class="container">
        <div class="spacer"/>
        
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">WODs</h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/org/landing}">Gym</a>
                    </li>
                    <li class="active">WODs</li>
                </ol>
                <div class="pull-right"><a th:href="@{/wod/edit}" class="btn btn-primary">Create New</a></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1>List of WODs</h1>
                <table class="table table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Edit</th>
                    </tr>
                    <tr th:each="wod : ${currentWods}">
                        <td th:text="${wod.id}"></td>
                        <td th:text="${wod.name}"></td>
                        <td th:text="${wod.notes}"></td>
                        <td><a th:href="@{/wod/edit(id=${wod.id})}" class="btn btn-primary">Edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:include="admin/adminLayout :: adFooter" id="adFooter">(adFooter)</div>
    </div>
</body>
</html>