<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Brickwall'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>
<div th:replace="admin/layout :: leftNav">(leftNav)</div>

<div class="container">
    <div class="paddedContainer">
        <form id="orgForm"
              th:action="@{/org/edit}"
              th:object="${org}"
              action="#"
              method="post"
              class="form-horizontal">

            <div th:if="*{name} != null">
                <h1>Editing <span th:text="${org.name}"/>!</h1>
            </div>

            <div th:if="${#fields.hasErrors('*')}"
                 class="alert alert-error">
                <p class="text-danger"
                   th:each="error : ${#fields.errors('*')}"
                   th:text="${error}">
                    Validation error
                </p>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{name}"
                           id="name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="firstLine" class="col-sm-2 control-label">Address Line</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{postalAddress.firstLine}"
                           id="firstLine"/>
                    <input type="text"
                           th:field="*{postalAddress.secondLine}"
                           id="secondLine"/>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">City</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{postalAddress.city}"
                           id="city"/>
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="col-sm-2 control-label">State</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{postalAddress.state}"
                           id="state"/>
                </div>
            </div>
            <div class="form-group">
                <label for="zipCode" class="col-sm-2 control-label">Zip Code</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{postalAddress.zipcode}"
                           id="zipCode"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{email}"
                           id="email"/>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{phone}"
                           id="phone"/>
                </div>
            </div>
            <div class="form-group">
                <label for="domain" class="col-sm-2 control-label">Web Domain</label>

                <div class="col-sm-10">
                    <input type="text"
                           th:field="*{webDomain}"
                           id="domain"/>
                </div>
            </div>
            <input type="hidden" th:if="*{id} != null" th:field="*{id}" id="id"/>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit"
                           class="btn btn-primary"
                           th:value="*{id} != null? 'Update' : 'Register'"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>