<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Brickwall'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="starter-template">
        <div class="container paddedContainer">
            <form id="orgForm"
                  th:action="@{/org/edit}"
                  th:object="${org}"
                  action="#"
                  method="post">

                <div th:if="*{name} != null">
                    <h1>Editing <span th:text="${org.name}"/>!</h1>
                </div>

                <div th:if="${#fields.hasErrors('*')}"
                     class="alert alert-error">
                    <p th:each="error : ${#fields.errors('*')}"
                       th:text="${error}">
                        Validation error
                    </p>
                </div>
                <label for="name">Name</label>
                <input type="text"
                       th:field="*{name}"
                       id="name"/>
                <label for="firstLine">Address Line</label>
                <input type="text"
                       th:field="*{postalAddress.firstLine}"
                       id="firstLine"/>
                <input type="text"
                       th:field="*{postalAddress.secondLine}"
                       id="secondLine"/>
                <label for="city">City</label>
                <input type="text"
                       th:field="*{postalAddress.city}"
                       id="city"/>
                <label for="state">State</label>
                <input type="text"
                       th:field="*{postalAddress.state}"
                       id="state"/>
                <label for="zipCode">Zip Code</label>
                <input type="text"
                       th:field="*{postalAddress.zipcode}"
                       id="zipCode"/>
                <label for="email">Email</label>
                <input type="text"
                       th:field="*{email}"
                       id="email"/>
                <label for="phone">Phone</label>
                <input type="text"
                       th:field="*{phone}"
                       id="phone"/>
                <label for="domain">Web Domain</label>
                <input type="text"
                       th:field="*{webDomain}"
                       id="domain"/>
                <input type="hidden" th:if="*{id} != null" th:field="*{id}" id="id"/>

                <div class="form-actions">
                    <input type="submit" value="Update"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>