<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<div id="wrapper">

    <div th:include="layout :: sidebar" id="sidebar-wrapper">(sidebar)</div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="blogWrapper">

        <nav th:include="layout :: blogNav" id="blogNav" class="navbar navbar-default">(BlogNav)</nav>

        <div id="blog" class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12" th:each="post : ${posts}">
                        <h2>
                            <span th:utext="${post.title}">Blog Post Title</span>
                        </h2>
                        <p class="lead">
                            by <a href="/home#about"><span th:text="${post.author}"></span></a>
                        </p>
                        <p><i class="fa fa-clock-o"></i> Posted on <span th:text="${post.date}"></span></p>
                        <p th:utext="${post.content}">
                            Content
                        </p>
                        <a class="btn btn-primary" th:href="@{/post(id=${post.id})}">Read More <i class="fa fa-angle-right"></i></a>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
   
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </div>
</div>
</body>

</html>