<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li th:each="link : ${homeObj.customLinks}">
                <a class="page-scroll" th:href="${link.linkUrl}"><span th:utext="${link.linkName}"></span></a>
            </li>
         </ul>
    </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" class="blogWrapper">

        <nav id="blogNav" class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a id="menu-toggle" href="#menu-toggle"><span class="arrow">&laquo;</span><span class="menuText">more</span></a>
                    <a class="navbar-brand page-scroll" href="/home">
                        <div><img class="logo" src="../images/Logo3.png" th:title="${#httpSession.getAttribute('gymName')}"/></div>
                    </a>

                </div>
            </div>
        </nav>

        <div id="blog" class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12" th:each="post : ${posts}">
                        <h2>
                            <span th:utext="${post.title}">Blog Post Title</span>
                        </h2>
                        <p class="lead">
                            by <a href="/home#about"><span th:text="${post.author}"></span></a>
                        </p>
                        <p><i class="fa fa-clock-o"></i> Posted on <span th:text="${post.date}"></span></p>
                        <p th:utext="${post.content}">
                            Content
                        </p>
                        <a class="btn btn-primary" th:href="@{/post(id=${post.id})}">Read More <i class="fa fa-angle-right"></i></a>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
   
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </div>
</div>
</body>

</html>