<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li th:each="link : ${homeObj.customLinks}">
                    <a class="page-scroll" th:href="${link.linkUrl}"><span th:utext="${link.linkName}"></span></a>
                </li>
             </ul>
        </div>

            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
        <div id="page-content-wrapper" class="blogWrapper">
            <nav id="blogNav" class="navbar navbar-default">
                <div id="blog" class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand page-scroll" href="/home">
                            <div><img class="logo" src="../images/Logo3.png" th:title="${#httpSession.getAttribute('gymName')}"/>
                            </div>
                        </a>

                    </div>
                </div>
            </nav>

            <div id="blog" class="container">
                <section class="" id="blogs">
                <div class="row">
                    <h1 class="page-header"><span th:utext="${post.title}"></span>
                        <small>by <a href="#"><span th:utext="${post.author}"></span></a>
                        </small>
                    </h1>
                    <!-- Date/Time -->
                    <p><i class="fa fa-clock-o"></i> Posted on <span th:text="${post.date}"></span></p>
                    <!-- Post Content -->
                    <p class="lead" th:utext="${post.content}"></p>

                    <hr/>

                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well">
                        <h4>Leave a Comment:</h4>

                        <form th:fragment="commentForm">
                            <div class="form-group">
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <hr/>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                    <div class="media" th:each="comment : ${post.comments}">
                        <div class="media-body">
                            <h4 class="media-heading"><span th:text="${comment.author}"></span>
                                <small><span th:text="${comment.date}"></span></small>
                            </h4>
                            <span th:utext="${comment.content}"></span>
                        </div>
                    </div>
                </div>
                    </section>

            </div>
            <div th:include="layout :: footer" id="footer">(footer)</div>
        </div>
    </div>

</body>

</html>