<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div th:include="layout :: sidebar" id="sidebar-wrapper">(sidebar)</div>

            <!-- Page Content -->
        <div id="page-content-wrapper" class="blogWrapper">

            <nav th:include="layout :: blogNav" id="blogNav" class="navbar navbar-default">(BlogNav)</nav>
            <div id="blog" class="container">
                <section class="" id="blogs">
                <div class="row">
                    <h1 class="page-header"><span th:utext="${blog.title}"></span>
                        <small>by <a href="#"><span th:utext="${blog.author}"></span></a>
                        </small>
                    </h1>
                    <!-- Date/Time -->
                    <p><i class="fa fa-clock-o"></i> Posted on <span th:text="${blog.date}"></span></p>
                    <!-- Post Content -->
                    <p class="lead" th:utext="${blog.content}"></p>

                    <hr/>

                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    <div class="well">
                        <h4>Leave a Comment:</h4>

                        <form id="commentForm"
                              th:action="@{/post/comment}"
                              th:object="${comment}"
                              action="#"
                              method="post">
                            <div class="form-group">
                                <textarea th:field="*{content}" class="form-control" rows="3"></textarea>
                            </div>
                            <input type="hidden" th:if="${blogId} != null" th:value="${blogId}"
                                   name="blogId" id="blogId"/>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <hr/>

                    <!-- Posted Comments -->

                    <!-- Comment -->
                    <div class="media" th:each="comment : ${blog.comments}">
                        <div class="media-body">
                            <h4 class="media-heading"><span th:text="${comment.author}"></span>
                                <small><span th:text="${comment.date}"></span></small>
                            </h4>
                            <span th:utext="${comment.content}"></span>
                        </div>
                    </div>
                </div>
                    </section>

            </div>
            <div th:include="layout :: footer" id="footer">(footer)</div>
        </div>
    </div>

</body>

</html>