<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Brickwall'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="starter-template">
        <div class="container paddedContainer">
            <form id="userForm"
                  th:action="@{/user/edit}"
                  th:object="${user}"
                  action="#"
                  method="post">

                <div th:if="*{firstName} != null">
                    <h1>Hello <span th:text="${user.firstName}"/>!</h1>
                </div>

                <div th:if="${#fields.hasErrors('*')}"
                     class="alert alert-error">
                    <p th:each="error : ${#fields.errors('*')}"
                       th:text="${error}">
                        Validation error
                    </p>
                </div>
                <label for="firstName">First Name</label>
                <input type="text"
                       th:field="*{firstName}"
                       id="firstName"/>
                <label for="lastName">Last Name</label>
                <input type="text"
                       th:field="*{lastName}"
                       id="lastName"/>
                <label for="email">Email</label>
                <input type="text"
                       th:field="*{email}"
                       id="email"/>
                <label for="phone">Phone</label>
                <input type="text"
                       th:field="*{phone}"
                       id="phone"/>
                <input type="hidden" th:if="*{id} != null" th:field="*{id}" id="id"/>
                <div class="form-actions">
                    <input type="submit" value="Update"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>