<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='League-O'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>
<div th:replace="admin/layout :: leftNav">(leftNav)</div>

<div class="container paddedContainer">
    <div class="starter-template">
        <h1>List of users</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
            </tr>
            <tr th:each="person : ${currentUsers}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.phone}"></td>
                <td><a th:href="@{/user/edit(id=${person.id})}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>