<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<div th:replace="layout :: navbar">(navbar)</div>
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Coaches</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/org/landing}">Org</a>
                </li>
                <li class="active">Coaches</li>
            </ol>
            <div class="pull-right"><a th:href="@{/coach/edit}" class="btn btn-primary">Add new</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>List of Coaches</h1>
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Edit</th>
                </tr>
                <tr th:each="coach : ${currentCoaches}">
                    <td th:text="${coach.id}"></td>
                    <td th:text="${coach.user.firstName}"></td>
                    <td th:text="${coach.user.lastName}"></td>
                    <td th:text="${coach.user.email}"></td>
                    <td th:text="${coach.user.phone}"></td>
                    <td><a th:href="@{/coach/edit(id=${coach.id})}" class="btn btn-primary">Edit</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div th:include="layout :: footer" id="footer">(footer)</div>
</div>
</body>
</html>