<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body id="page-top">

<div th:replace="layout :: navbar">(navbar)</div>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                <div th:utext="${homeObj.landingHeader}"></div>
            </h1>
            <hr/>
            <div th:utext="${homeObj.introContent}"></div>
            <a href="#about" class="btn btn-success btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading">
                    <div class="text-center" th:text="${aboutObj.aboutHeader}"></div>
                </h2>
                <hr class="light"/>
                <div class="text-left" th:utext="${aboutObj.aboutContent}"></div>
            </div>
            <br/>

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Team</h2>
                <hr class="light"/>
            </div>
        </div>
        <div class="coachblock text-center">
            <div class="coachblock_container" th:each="coach : ${coaches}">
                <div class="thumbnail">
                    <img th:if="${not #strings.isEmpty(coach.picUrl)}" class="img-responsive" th:src="${coach.picUrl}"
                         alt=""/>
                    <img th:if="${#strings.isEmpty(coach.picUrl)}" class="img-responsive"
                         src="http://placehold.it/280x200" alt=""/>

                    <div class="caption">
                        <h3><span th:text="${coach.firstName}"></span>
                            <span th:text="${coach.lastName}"></span>
                            <br/>
                            <small><span th:text="${coach.jobTitle}"></span></small>
                        </h3>
                        <div th:utext="${coach.intro}"></div>


                    </div>
                    <ul class="list-unstyled list-inline list-social-icons">

                        <li th:if="${not #strings.isEmpty(coach.fbUrl)}">
                            <a th:href="${coach.fbUrl}"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li th:if="${not #strings.isEmpty(coach.twitter)}">
                            <a th:href="${coach.twitter}"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                        <li th:if="${not #strings.isEmpty(coach.linIn)}">
                            <a th:href="${coach.linIn}"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                    </ul>
                    <!-- /.caption-->
                </div>
                <!-- /.thumbnail-->
            </div>
        </div>
    </div>

    <div id="video"></div>
    <div class="videoContent"><img class="logo" src="../images/Logo3.png" alt="logo"/>
        <a th:href="${homeObj.videoUrl}" target="_blank" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-play-circle"></span> Play
        </a>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><span th:text="${homeObj.servicesTitle}"></span></h2>
                <hr class="primary"/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="textblock">
            <div class="text-center" th:each="service : ${services}">
                <div class="service-box">
                    <h3><span th:text="${service.title}"></span></h3>

                    <div th:utext="${service.content}"></div>
                </div>
            </div>
        </div>
        <br/><br/>
        <!-- Membership -->
        <div class="text-center">
            <hr class="primary"/>
            <a class="btn btn-success btn-xl"
               role="button" data-toggle="collapse" href="#collapsePricing"
               aria-expanded="false" aria-controls="collapsePricing">Memberships</a>
            <br/>
            <div id="collapsePricing" class="collapse container">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Level</th>
                            <th>Pricing</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="pricingDto : ${pricing}">
                            <td><span th:text="${pricingDto.level}"></span></td>
                            <td>$ <span th:text="${pricingDto.cost}"></span> per month</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="wod">
    <h2 class="text-center">Workout</h2>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div th:if="${wod} != null">
                    <h2 class="section-heading"><span th:text="${wod.name}"></span></h2>
                    <hr class="primary"/>
                    <div th:utext="${wod.description}"></div>
                </div>
                <div th:if="${wod} == null">
                    <h2 class="section-heading">Surprise!</h2>
                    <hr class="primary"/>
                    <p>We have a fun workout for today, come check us out at the gym</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Announcements -->
    <div th:if="${homeObj.announcements != null and homeObj.announcements.size() > 0}">
        <div id="announcements">
            <h2 class="text-center">Announcements</h2>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" th:each="anno : ${homeObj.announcements}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               th:href="'#collapse-'+${anno.aId}">
                                <div th:text="${anno.title}"/>
                            </a>
                        </h4>
                    </div>
                    <div th:id="'collapse-'+${anno.aId}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="content" th:utext="${anno.content}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>

    <!-- Klasses -->
    <div class="text-center">
        <a class="btn btn-success btn-xl"
           role="button" data-toggle="collapse" href="#collapseKlasses"
           aria-expanded="false" aria-controls="collapseKlasses">Class Timings</a>
        <br/><br/>
        <div id="collapseKlasses" class="collapse container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Coach</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="klass : ${klasses}">
                        <td> <span th:text="${klass.name}"></span></td>
                        <td th:text="${klass.description}"></td>
                        <td th:text="${klass.coach}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="social">
    <div th:if="${feed} == null">
        <section class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3>Check us out on Instagram!
                            <br/>
                            <br/>
                            <a th:href="${authorizationUrl}"><img src="../images/Instagram_normal.png"/></a>
                        </h3>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fluid">

        <div th:if="${feed} != null">
            <div id="In-img-container">
                <div id="instagramHeader" class="text-center">
                    <h2 class="section-heading">#<span th:text="${gymObj.hashTag}"></span></h2>
                    <hr class="success"/>
                </div>

                <div class="imageContainer" style="padding: 0 0" th:each="f : ${feed}">
                    <a href="#" class="portfolio-box">
                        <img th:src="${f.highResolutionUrl}" class="img-responsive" alt=""/>

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded" th:utext="${f.userName}">
                                </div>
                                <div class="project-name" th:utext="${f.caption}">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<aside class="bg-dark" id="register">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading"><span th:text="${homeObj.regTitle}"></span></h2>
            <hr class="success"/>
            <div class="text-left" th:utext="${homeObj.regContent}"></div>
            <br/><br/>

            <h2><span th:text="${homeObj.regBanner}"></span></h2>
            <a class="btn btn-success btn-xl wow tada"
               role="button" data-toggle="collapse" href="#collapseReg"
               aria-expanded="false" aria-controls="collapseReg">Register Now!</a>
        </div>
        <div id="collapseReg" class="collapse">
            <div>
                <div class="text-left">

                    <form id="registration-form"
                          th:action="@{/reg/register}"
                          th:object="${user}"
                          action="#"
                          method="post">

                        <!-- Fields -->

                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="firstName">First Name</label>
                                <input type="text"
                                       th:field="*{firstName}"
                                       id="firstName"
                                       class="form-control"
                                       placeholder="First name"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="lastName">Last Name</label>
                                <input type="text"
                                       th:field="*{lastName}"
                                       id="lastName"
                                       class="form-control"
                                       placeholder="Last name"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="email">Email</label>
                                <input type="email"
                                       th:field="*{email}"
                                       id="email"
                                       class="form-control"
                                       placeholder="Email"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="phone">Phone</label>
                                <input type="text"
                                       th:field="*{phone}"
                                       id="phone"
                                       class="form-control"
                                       placeholder="Phone"
                                       min="10"
                                       maxlength="10"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="city">City</label>
                                <input type="text"
                                       th:field="*{city}"
                                       id="city"
                                       class="form-control"
                                       placeholder="Your city"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="zip">Zip Code</label>
                                <input type="text"
                                       th:field="*{zip}"
                                       id="zip"
                                       class="form-control"
                                       placeholder="Zip Code"
                                       min="5"
                                       maxlength="5"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="date-sc">Date of Birth</label>
                                <input type="date"
                                       th:field="*{dateOfBirth}"
                                       id="date-sc"
                                       placeholder="Mon-Date-Year"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls">
                                <label for="gender">Gender</label>
                                <select th:field="*{gender}"
                                        id="gender"
                                        class="form-control">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <input type="submit" class="btn btn-primary" th:value="Register"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div id="contatct-container">
            <div class="text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="success"/>
                <p>Ready to start your transformation with us? That's great! Give us a call, come visit us or send us an
                    message!</p>
            </div>

            <div class="Contact text-left">
                <form id="contactForm"
                      method="post"
                      th:action="@{/messageUs}"
                      th:object="${messageUs}"
                      action="#">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}"
                                   placeholder="Please enter your name"/>

                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Phone Number:</label>
                            <input type="tel" class="form-control" id="aphone" th:field="*{phone}"
                                   min="10"
                                   maxlength="10"
                                   placeholder="Please provide a phone number"/>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="aemail" th:field="*{email}"
                                   placeholder="Please enter your email address"/>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Message:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" th:field="*{message}"
                                      placeholder="Please enter your message, max characters allowed is 999 characters"
                                      maxlength="999"
                                      style="resize:none"></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:include="layout :: footer" id="footer">(footer)</div>

<script>
    $(document).ready(function(){
		$('#registration-form').validate({
	    rules: {
	       firstName: {
	       required: true
	      },

		 lastName: {
	        required: true
	      },
	      email: {
	        required: true,
	        email: true
	      },
	      phone: {
	        required: true,
	        phoneUS: true
	      },
	      zip: {
	        required: true,
	      }
	    },
	    messages: {
	       firstName: "Please enter a first name",
	       lastName: "Please enter a last name",
	       email: "Please enter a valid email",
	       phone: "Please enter a valid phone number",
	       zip: "Please enter a valid US zip code",
	       },
			highlight: function(element) {
				$(element).closest('.control-group').removeClass('has-success').addClass('has-error');
			},
			success: function(element) {
				element
				.closest('.control-group').removeClass('has-error').addClass('has-success');
			}
	  });

	  $('#contactForm').validate({
	    rules: {
	       name: {
	       required: true
	      },
	      email: {
	        required: true,
	        email: true
	      },
	      phone: {
	        required: true,
	        phoneUS: true
	      },
	    },
	    messages: {
	       name: "Please enter a name",
	       email: "Please enter a valid email",
	       phone: "Please enter a valid phone number",
	       },
			highlight: function(element) {
				$(element).closest('.control-group').removeClass('has-success').addClass('has-error');
			},
			success: function(element) {
				element
				.closest('.control-group').removeClass('has-error').addClass('has-success');
			}
	  });

}); // end document.ready


</script>

</body>

</html>
