<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Brickwall'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container paddedContainer">
    <div class="starter-template">
        <h1>Something cool Here</h1>
        <p><span th:text="${greeting}"/></p>
        <p>Melissa - Scrolling banner with ads here</p>
        <p>CrossFit may be the answer to your fitness shortcomings. At CrossFit Refinery we’re focused on teaching the theories and methodologies that are producing some of the fittest people in the world. Come learn how you can achieve a new level of fitness through an organic form of excercise.</p>
        <p>Info about how to register</p>
        <p>Melissa - Stock images of happy sport people :P</p>
        <p>CrossFit Refinery welcomes all fitness levels. The same workouts elite athletes are doing are the same workouts the everyday person should do. Trainers will work with you to scale workouts to your abilities and comfort levels, without sacrificing safety and proper form. The only difference would be the amount of weight, number of reps, and substitutions to promote the progression to the recommended workout. The workouts are meant to be intense for the individual but without sacrificing safety and proper form.</p>
        <p>Info about perks of crossfit</p>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>
