<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Brickwall'"></head>

<body>
<div th:replace="layout :: navbar">(navbar)</div>

<div class="container paddedContainer">
    <div class="starter-template">
        <h1>Something cool Here</h1>
        <p><span th:text="${greeting}"/></p>
        <p>Scrolling banner with ads here</p>
        <p>Info about the rec-league</p>
        <p>Info about how to register</p>
        <p>Stock images of happy sport people :P</p>
        <p>Info about perks</p>
        <p>Info about perks</p>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>