<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
    <body>
        <div th:replace="layout :: navbar">(navbar)</div>
        <!-- Page Content -->
        <div class="container">
            <div class="home-page-spacer"/>
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="http://placehold.it/1200x300" alt=""/>
                </div>
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <div th:text="${homeObj.landingHeader}"></div>
                    </h1>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-check"></i> <span th:text="${homeObj.introTitle}"></span></h4>
                        </div>
                        <div class="panel-body"> <!-- Intro -->
                            <div th:text="${homeObj.introContent}"></div>
                            <a th:href="@{/about}" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-trophy"></i> <span th:text="${homeObj.servicesTitle}"></span></h4>
                        </div>
                        <div class="panel-body"> <!-- Services -->
                            <div th:text="${homeObj.servicesContent}"></div>
                            <a th:href="@{/about}" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-compass"></i> <span th:text="${homeObj.regTitle}"></span></h4>
                        </div>
                        <div class="panel-body"><!-- Sign up -->
                            <div th:text="${homeObj.regContent}"></div>
                            <a th:href="@{/user/register}" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Announcements -->
            <div class="row" th:if="${homeObj.announcements != null and homeObj.announcements.size() > 0}">
                <div class="col-lg-12">
                    <h2><i class="fa fa-2x fa-bullhorn"></i> Annoucements</h2>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default" th:each="anno : ${homeObj.announcements}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       th:href="'#collapse-'+${anno.aId}">
                                        <div th:text="${anno.title}"/>
                                    </a>
                                </h4>
                            </div>
                            <div th:id="'collapse-'+${anno.aId}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div th:text="${anno.content}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/>

            <!-- Registration banner-->

            <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <div th:text="${homeObj.regBanner}"></div>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-lg btn-default btn-block" href="@{/contact}">Contact Us!</a>
                    </div>
                </div>
            </div>
            <div th:include="layout :: footer" id="footer">(footer)</div>
        </div>
    </body>
</html>
