<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>

    <title th:text="${#httpSession.getAttribute('gymName')}">(title)</title>

    <link th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/creative.css}" rel="stylesheet"></link>
    <style th:utext="${homeObj.customCss}" th:if="${homeObj!= null and homeObj.customCss != null}"></style>
</head>

<body>
<nav th:fragment="navbar" id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <div><img class="logo" src="../images/Logo3.png" th:title="${#httpSession.getAttribute('gymName')}"/></div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#wod">Workout</a>
                </li>
                <li>
                    <a class="page-scroll" href="#social">Social</a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">Get Started</a>
                </li>
              <li>
                    <a class="page-scroll" href="/blogs">More</a>
                </li>
              <!--
                <li class="dropdown active moreHide" th:if="#{homeObj!= null and not #lists.isEmpty(homeObj.customLinks)}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li th:each="link : ${homeObj.customLinks}">
                            <a class="page-scroll" th:href="${link.linkUrl}"><span th:utext="${link.linkName}"></span></a>
                        </li>
                    </ul>
                </li>
                <li class="page-scroll hideMe" th:each="link : ${homeObj.customLinks}">
                    <a class="page-scroll" th:href="${link.linkUrl}"><span th:utext="${link.linkName}"></span></a>
                </li>-->
                
                <li>
                    <a class="page-scroll" th:href="@{/org/landing}">Admin</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<footer th:fragment="footer" id="footer">
    
    <div class="footer-column">
        <h4>Powered by</h4>
        <span class="whiteLine"></span>
        &copy;2015 WOD-Dojo. All Rights Reserved. <br />
        CrossFit&reg; is a Registered Trademark of CrossFit, Inc.<br />
        WOD-Dojo is not an affiliate of CrossFit&reg;.
        
        
    </div>
    <div class="footer-column">
        <h4>Contact us</h4>
        <span class="whiteLine"></span>
        <span class="fa fa-phone fa-3x wow bounceIn"></span><span th:text="${gymObj.phone}"></span><br />

        <span th:text="${gymObj.postalAddress.firstLine} + ','">Add 1</span>&nbsp;

        <span th:text="${gymObj.postalAddress.secondLine}">Add 2</span><br />

        <span class="fa fa-clock-o"></span>
            <abbr title="Hours"></abbr>: <span th:utext="${gymObj.hours}">hours</span>
       
        
    </div>
    <div class="footer-column">
        <h4>Follow us</h4>
        <span class="whiteLine"></span>
        <ul class="list-unstyled list-inline list-social-icons">
           
            <li th:if="${not #strings.isEmpty(aboutObj.fbUrl)}">
                <a th:href="${aboutObj.fbUrl}"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li th:if="${not #strings.isEmpty(aboutObj.twitter)}">
                <a th:href="${aboutObj.twitter}"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li th:if="${not #strings.isEmpty(aboutObj.gPlus)}">
                <a th:href="${aboutObj.gPlus}"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.0.3/js/bootstrap.min.js}"></script>


    <!-- Plugin JavaScript -->
    <script th:src="@{/js/jquery.easing.min.js}"></script>
    <script th:src="@{/js/jquery.fittext.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/creative.js}"></script>

</footer>

</body>
</html>