<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"></link>

    <title th:text="${#httpSession.getAttribute('gymName')}">(title)</title>

    <link th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.css}" rel="stylesheet"></link>
    <link th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"></link>
    <link th:href="@{/css/creative.css}" rel="stylesheet"></link>
</head>

<body>
<nav th:fragment="navbar" id="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <div th:text="${#httpSession.getAttribute('gymName')}">Logo</div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#wod">Workout</a>
                </li>
                <li>
                    <a class="page-scroll" href="#social">Social</a>
                </li>
                <li>
                    <a class="page-scroll" href="#register">Register</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" th:href="@{/org/landing}">Admin</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<footer th:fragment="footer" id="footer">
    <p>Copyright &copy; WOD-Dojo 2015</p>

    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.0.3/js/bootstrap.min.js}"></script>


    <!-- Plugin JavaScript -->
    <script th:src="@{/js/jquery.easing.min.js}"></script>
    <script th:src="@{/js/jquery.fittext.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/wow.min.js}"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/creative.js}"></script>

</footer>

</body>
</html>