<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<section class="no-padding" id="portfolio">
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Thanks for registering, please come visit us!</h3>
                    <a th:href="@{/}" class="btn btn-success btn-lg">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>
</body>

</html>