<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/adminLayout :: adhtmlhead"></head>
<body>
<div th:replace="admin/adminLayout :: adNavbar">(adNavbar)</div>
<div class="container">
    <div class="spacer"/>
   
    <div class="row">
        <div class="col-lg-12">

            <form id="coachForm"
                  th:action="@{/coach/edit}"
                  th:object="${coach}"
                  action="#"
                  method="post"
                  enctype="multipart/form-data">

                <!-- Errors -->
                <div th:if="${#fields.hasErrors('*')}"
                     class="alert alert-error">
                    <h3 class="text-danger"
                        th:each="error : ${#fields.errors('*')}"
                        th:text="${error}">
                        Validation error
                    </h3>
                </div>

                <!-- Page Heading/Breadcrumbs -->
                <div th:if="*{id} != null">
                    <h1 class="page-header">Coach Edit</h1>
                    <ol class="breadcrumb">
                        <li><a th:href="@{/coach/list}">List</a>
                        </li>
                        <li class="active">Edit</li>
                    </ol>
                    <h3>Editing <span th:text="${coach.user.firstName}"/>!</h3>
                </div>
                <div class="spacer"/>

                <!-- Fields -->

                <div class="control-group form-group">
                    <div class="controls">
                        <label for="firstName">First Name</label>
                        <input type="text"
                               th:field="*{user.firstName}"
                               id="firstName"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="lastName">Last Name</label>
                        <input type="text"
                               th:field="*{user.lastName}"
                               id="lastName"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="email">Email</label>
                        <input type="text"
                               th:field="*{user.email}"
                               id="email"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="password">Password</label>
                        <input th:if="*{#strings.isEmpty(user.password)}" type="text"
                               th:field="*{user.password}"
                               id="password"
                               class="form-control"/>
                        <input th:if="*{! #strings.isEmpty(user.password)}" type="password"
                               th:field="*{user.password}"
                               id="password"
                               class="form-control"
                               placeholder="For security reasons we are not showing the current password, but you can update it"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="phone">Phone</label>
                        <input type="text"
                               th:field="*{user.phone}"
                               id="phone"
                               class="form-control"/>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label for="jobT">Job Title</label>
                        <input type="text"
                               th:field="*{jobTitle}"
                               id="jobT"
                               class="form-control"/>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label for="proPic">Profile Picture</label><br/>
                        <img id="proPic" th:if="${imageUrl} != null" th:src="${imageUrl}" width="300"/>
                        <br/><br/>
                        <label for="pic">Upload New</label><br/>
                        <input id="pic" class="btn well col-md-12s" type="file" name="coach"/>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label for="intro">Intro</label>
                        <textarea
                                th:field="*{description}"
                                id="intro"
                                class="form-control"></textarea>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label for="facebookLink">Facebook Page</label>
                        <input type="text"
                               th:field="*{facebookLink}"
                               id="facebookLink"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="twitterLink">Twitter Page</label>
                        <input type="text"
                               th:field="*{twitterLink}"
                               id="twitterLink"
                               class="form-control"/>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label for="linkedIn">Linked In</label>
                        <input type="text"
                               th:field="*{linkedIn}"
                               id="linkedIn"
                               class="form-control"/>
                    </div>
                </div>

                <input type="hidden" th:if="*{id} != null" th:field="*{id}" id="id"/>
                <input type="hidden" th:if="*{user.id} != null" th:field="*{user.id}" id="userId"/>
                <input type="hidden" th:if="*{user.organization.id} != null" th:field="*{user.organization.id}"
                       id="orgId"/>


                <input type="submit" class="btn btn-primary" th:value="*{id} != null? 'Update' : 'Save'"/>

            </form>
        </div>
    </div>
    <div th:include="admin/adminLayout :: adFooter" id="adFooter">(adFooter)</div>
</div>
</body>
<script>
        jQuery(document).ready(function introBox(){
         jQuery("#intro").summernote();
         jQuery("#pic").fileinput({
         'showUpload':false,
         'previewFileType':'any',
         'allowedFileExtensions':['jpg', 'gif', 'png'],
         'previewSettings':{
            'image': {'width': 'auto', 'height': '160px'}
         }
         });;
        });

</script>
</html>