<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/adminLayout :: adhtmlhead"></head>
<body>
<div th:replace="admin/adminLayout :: adNavbar">(adNavbar)</div>
<div class="container">
    <div class="spacer"/>
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gym</h1>
            <ol class="breadcrumb">
                <li class="active"><a th:href="@{/}">Website</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Configure</h2>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="panel-body">
                    <h4>Setup</h4>
                    <p>Setup contact info, name, address, and many more things</p>
                    <a th:href="@{/org/edit}" class="btn btn-primary">Setup</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="panel-body">
                    <h4>WODs</h4>
                    <p>Create new WOD's, update existing ones.</p>
                    <a th:href="@{/wod/list}" class="btn btn-primary">List WODs</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="panel-body">
                    <h4>Schedule</h4>
                    <p>Schedule your WOD's. Post them on facebook, twitter etc</p>
                    <a th:href="@{/schedule/list}" class="btn btn-primary">Schedule</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="panel-body">
                    <h4>Members</h4>
                    <p>Add new Members and update existing</p>
                    <a th:href="@{/user/list}" class="btn btn-primary">List Members</a>
                </div>
            </div>
        </div>
    </div>
    <!--Bottom list of items -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Do More</h2>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Coaches</h4>

                    <p>Edit and Manage your team here</p>
                    <a th:href="@{/coach/list}" class="btn btn-primary">Setup</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Announcements</h4>

                    <p>Edit and Manage announcements for your dojo</p>
                    <a th:href="@{/announcement/list}" class="btn btn-primary">Setup</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Services</h4>

                    <p>Edit and Manage the services you provide at your dojo</p>
                    <a th:href="@{/services/list}" class="btn btn-primary">Setup</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Classes</h4>

                    <p>Edit and Manage the classes you provide at your dojo</p>
                    <a th:href="@{/classes/list}" class="btn btn-primary">Setup</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media">
                <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                        </span>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Payments</h4>

                    <p>Edit and Manage the payments you provide at your dojo</p>
                    <a th:href="@{/payments/list}" class="btn btn-primary">Setup</a>
                </div>
            </div>
        </div>
    </div>
    <div th:include="admin/adminLayout :: adFooter" id="adFooter">(adFooter)</div>
</div>
</body>
</html>