<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/adminLayout :: adhtmlhead"></head>
<body>
<div th:replace="admin/adminLayout :: adNavbar">(adNavbar)</div>
    <div class="container">
        <div class="spacer"/>
        
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Gyms</h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/}">Home</a>
                    </li>
                    <li class="active">Gyms</li>
                </ol>
                <div class="pull-right"><a th:href="@{/org/admin/edit}" class="btn btn-primary">Create New</a></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h1>List of Gyms</h1>
                <table class="table table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Edit</th>
                    </tr>
                    <tr th:each="org : ${currentOrgs}">
                        <td th:text="${org.id}"></td>
                        <td th:text="${org.name}"></td>
                        <td th:text="${org.postalAddress.city}"></td>
                        <td th:text="${org.email}"></td>
                        <td th:text="${org.phone}"></td>
                        <td><a th:href="@{/org/edit(id=${org.id})}" class="btn btn-primary">Edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div th:include="admin/adminLayout :: adFooter" id="adFooter">(adFooter)</div>
    </div>
</body>
</html>